h4.text-gray
  i.linecons-tag(style='margin-right: 7px;' id=menuName.replace(/[\s]+/g, '-'))
  = menuName

.row
  each menu in menus
    .col-6.col-sm-4.col-md-3.col-xl-2
      .xe-widget.xe-conversations.box2.label-info(
        onclick='window.open("' + url_for(menu.url) + '", "_blank")'
        data-toggle='tooltip'
        data-placement='bottom'
        title=''
        data-original-title=url_for(menu.url)
      )
        .xe-comment-entry
          - let imgUrl = menu.img;
          - let fallback1 = imgUrl;
          - let fallback2 = imgUrl;
          - if (!menu.img) {
          -   try {
          -     const domain = new URL(menu.url).hostname;
          -     if (domain) {
          -       imgUrl = 'https://favicon.so/' + domain;
          -       fallback1 = 'https://favicon.im/' + domain;
          -       fallback2 = 'https://' + domain + '/favicon.ico';
          -     }
          -   } catch (e) {}
          - }
          a.xe-user-img(data-debug-img=imgUrl)
            img.lozad.img-circle(data-src=url_for(imgUrl) width='40' onerror=`this.onerror=null; this.src='${fallback1}'; this.onerror=function(){ this.onerror=null; this.src='${fallback2}'; }`)
          .xe-comment
            a.xe-user-name.overflowClip_1(href='#')
              strong= menu.name
            p.overflowClip_2= menu.description

br
